{% for header in _nzbget_order %}
# {{ header }}
{%   for section in _nzbget_map | selectattr('value.section', '==', header) | sort(attribute='value.order') %}
{%     if not section.value.deprecated %}
{%       if section.value.section == 'News Servers' %}
{%         include 'section/news_servers.j2' with context %}
{%       elif section.value.section == 'Categories' %}
{%         include 'section/categories.j2' with context %}
{%       elif section.value.section == 'RSS Feeds' %}
{%         include 'section/rss_feeds.j2' with context %}
{%       elif section.value.section == 'Scheduler' %}
{%         include 'section/scheduler.j2' with context %}
{%       elif section.value.hint == 'bool' %}
{{ section.value.key }}={{ 'yes' if section.value.raw else 'no' }}
{%       elif section.value.hint == 'list of str' or section.value.key == 'ShellOverride' %}
{{ section.value.key }}={{ section.value.data }}
{%       else %}
{{ section.value.key }}={{ section.value.raw }}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endfor %}
