[Unit]
Description=NZBGet
After=network.target

[Service]
Type=forking
User={{ nzbget_user }}
Group={{ nzbget_group }}
ExecStart={{ nzbget_dir }}/nzbget --daemon --configfile {{ nzbget_dir }}/nzbget.conf
ExecReload={{ nzbget_dir }}/nzbget --reload
ExecStop={{ nzbget_dir }}/nzbget --quit
Restart=always
SyslogIdentifier=NZBGet

[Install]
WantedBy=multi-user.target
